* {
	margin: 0;
	box-sizing: border-box;
}

table {
	width: 500px;
	border-collapse: collapse;
	margin-bottom: 20px;
	border: 2px solid white;
}

tr {
	text-align: left;
}

th, td {
	border: 1px solid black;
	padding: 6px;
	position: relative;
}

#disp_img:hover .image, .hover_trig:hover + .target {
	display: initial;
}

.image {
	position: absolute;
	top: -100px;
	padding-left: 10px;
	display:  none;
}

.hover_trig + .target {
	position: absolute;
	border: 4px solid red;
	display: none;
}

style.css

.<classname>:hover ~ table tr#<idname> {
      outline: 3px solid red;
}

Set the span of the text you want to trigger the outline to ' class="<classname>" ' and the tr of the row to highlight as ' id="<idname>" ' This might work with other elements too?