/* Default to remove ugly white border around all elements */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Page class and subclasses handle grid structure */
.page {
    display: grid;
    grid-template-areas: 
        "logo title"
        "logo main"
        "sections main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    background-color: black;
    gap: 5px;
    height: 100vh;
}

.page .logo {
    grid-area: logo;
    aspect-ratio: 1 / 1;
}

.page .header {
    grid-area: title;
    background-color: #008cff;
}

.page .sidebar {
    grid-area: sections;
    background-color: #80ffdb;
    font-weight: bold;
}

.page .content {
    grid-area: main;
    background-color: #80ffdb;
    scrollbar-width: none;
    overflow-y: scroll;
}

.curpage {
    list-style-type: none;
    font-weight: normal;
}

html::-webkit-scrollbar {
	width: 0;
	height: 0;
}

/* Class Specific Stylization */
ol.sidebar {
    padding: 5px 0 0 21px;
}

ol.items {
    margin: 0 0 5px 20px;
    list-style-position: inside;
}

ul.terms {
    padding: 0 0 5px 30px;
    list-style-type: none;
}

ul.items {
    margin: 0 0 5px 20px;
    list-style-type: none;
}

/* Page Stylization */
h1, h2, h3, h4 {
    padding: 5px 0 5px 10px;
	text-decoration: underline;
}

h4 {
    padding: 0 0 5px 20px;
}

hr {
    border-top: 1px solid black;
    margin: 5px 0 0 0;
}

p {
	padding: 5px 20px 5px 20px;
}

a {
    color: black;
    text-decoration: none;
}

summary {
    list-style: none;
}